.projects-holder{
  width: 100%;
  flex-wrap: wrap;
}

.project{
    border-radius: .5rem .5rem 1.5rem 1.5rem;
    border-width: 0.4rem;
    border-style: solid;
    border-color: #00AB7D;
    background-color: #00AB7D;
    transition: 0.3s;
    margin: .5rem;
  }
  .project:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
  .project-link{
    display: block;
    height: 100%;
    color:#212529;
    text-decoration: none;
  }
  
  .project-link>img{
    width: 100%;
    max-height: 13rem;
    border-radius: .4rem;
  }

  .project-info{
    justify-content: space-evenly;
    margin:  0.5rem;
  }

  .project-info h4{
    margin: 0;
  }

  @media only screen and (max-width: 800px){
    .projects-holder{
      justify-content: center;
      align-items: center;
    }

    .project{
      margin: .5rem 2rem;
    }
  }