html{
  margin: 0;
  max-width: 100%;
  max-height: 100%;
scroll-behavior: smooth;
}
body {
  margin: 0;
max-width: 100%;
max-height: 100%;
font-family:sans-serif;
}
#PageWrapper{
  width: 100%;
  height: 100%;
}
  p{
      margin:0;
  }
  h1, h2, h3, h4, h5{
    margin :0;
    text-transform: uppercase;
    color:#212529;
  }
  a{
      color: #00AB7D;
      text-decoration: none;
  }
  i{
    margin-top: auto;
    margin-bottom: auto;
  }
  a:hover{
      color: #00573F;
  }
  #navbar {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00AB7D;
    overflow-x: hidden;
  }

  #navbar-content{
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin:0 0.5rem;
  }

  #navbar-content a, #navbar-content p,  #navbar-content i{
    color: #212529;
  }

  #navbar-content a:hover, #navbar-content i:hover{
    color: #ffffff;
  }

  #profile{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  #img-profile{
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border: .5rem solid #00573F; 
    border-radius: 50%;
  }

  #profile .icon {
    font-size: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  #navname{
    text-align: center;
  }

  #nav-contacts{
    justify-content: space-evenly;
    text-align: center;
  }

  #nav-contacts .contact-icons>a{
    font-size:1.5rem;
    margin: 0 0.25rem;
  }

  #content {
    background-color: #ffffff;
    margin-left: 20vw; /* Same as the width of the sidenav */
  }

  #content section {
    min-height: 100vh;
    padding: 3rem;
  }

  #end-section{
    min-height: initial !important;
  }

  #expand{
    display: block;
  }

  /*cv download*/
  #cv-download{
    display: inline-block;
    position: relative;
  }
  #cv-download:hover .dropdown-content,#cv-download:active .dropdown-content  {display: block;}

  #cv-download:hover .dropbtn {color: #00573F;}

 #reference{
  color:gray;
  font-size: 1rem;
 }
  /*Basic classes for things*/
  .mobile{
    display: none;
  }

  .non-mobile{
    display: block;
  }

  .mb0{
    margin:0;
  }
  .mb1{
    margin: 0 0 1rem;
  }
  .mb2{
    margin: 0 0 2rem;
  }
  .mb3{
    margin: 0 0 3rem;
  }
  .mb5{
    margin: 0 0 5rem;
  }

  .flex {
    display: flex;
  }

  .flex.column {
    flex-direction: column;
  }

  .flex.flex-center, .flex-column.flex-center{
    justify-content: center;
  }

  /*navbar specific classes*/
  .navbar-nav {
    
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
  }

  .nav-devider{
    margin-left:auto;
    margin-right: auto;
    border-color: #212529;
    border-style: solid;
    width: 50%;
  }

  /*Content classes*/
  .section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }

  .header{
    font-size: 3rem;
  }

  .subheading{
    font-weight: normal;
  }

  .resume{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .resume-info{
    max-width: 50%;
  }

  .resume .time p{
    color: #00AB7D;
  }
  
  .skill-rating{
    text-align: center;
    align-items: center;
  }

  .skill-holder{
    margin-left: 10rem;
  }

/*Skills*/
  
  .checked{
    color: #00AB7D;
  }

  /*for cv dropdown*/
  .dropbtn{
    color:#00AB7D;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00AB7D;
    min-width: auto;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #00573F; color: #ffffff;}

  .cta{
    text-align: center;
  }

  .contact-icons>a{
    font-size:3rem;
    
    color:#212529;
    margin: 0 0.5rem;
  }
  
  .activeNav{
    color: #ffffff !important;
  }

  .no-margin-right{
    margin-right: 0 !important;
  }


  @media only screen and (max-width: 800px){
    #navbar {
      height: auto;
      width: 100%;
    }
  
    #navbar-content{
      height: 100%;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }

    #profile{
      flex-direction: row;
      justify-content:space-between;
    }

    #navname{
      text-align: left;
      margin: 1rem;
    }
  
    #content {
      margin-left: 0; /* Same as the width of the sidenav */
      margin-top: 10vh;
    }

    #content section{
      padding: 0 1rem;
    }

    #expand{
      display: none;
    }

    .resume{
      flex-direction: column;
    }

    .resume-info{
      max-width: 100%;
    }

    .skill-rating{
      flex-direction: column;
    }
    .skill-holder{
      margin-left:0;
    }
    .non-mobile{
      display:none;
    }

    .mobile{
      display: block;
    }
  }

  @media only screen and (min-width: 1920px){
    #navbar{
      width: 15vw;
    }
    #content{
      margin-left: 15vw;
    }

    #content section{
      margin-right: 30vw;
    }
  }